body {
    min-height: 100vh;
    --track-width: 8000px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #232323;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 60px;
}

.text-background {
    transition: width 1s;
    position: absolute;
    width: 55px;
    left: 0;
    height: 800px;
}

.text-container {
    color: white;
    transform-origin: top left;
    transform: rotate(270deg);
    position: absolute;
    padding: 15px;
    bottom: -100;
    width: 800px;
}

.character-name {
    font-size: 45px;
    font-weight: bold;
}

.player-name {
    margin-top: -15px;
    font-size: 25px;
    line-height: 25px;
    max-width: 700px;
}

.slider {
    height: 800px;
    position: relative;
    width: 100%;

    display: grid;
    place-items: center;
    overflow: hidden;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slide-track {
    width: 8000px;
    display: flex;
    animation: scroll 40s linear infinite;
    justify-content: space-between;
}

.intro-slide {
    pointer-events: none;
    background-color: #232323;
}

.slide {
    width: 400px;
    height: 800px;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
}

/* .slide:hover {
    transform: scale(0.8);
}

.slide:hover .text-background {
    width: 400px;
} */

@keyframes scroll {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-8000px);
    }
}